*{
	margin:0;
	padding: 0;
}
body{
	font-size: 1em;
	font-family: "trebuchet MS", helvetica, sans-serif;
	background: #e6e6e6;
}

/*layout*/

	#cabecalho{
		background-color: #f7b600;
		padding: 15px;
		text-align: center; 
	}

	#logo, #menu{
		padding: 10px;
	}

	#principal{
		width: 920px;
		margin: 0 auto;
		padding: 15px; 
	}

	#lateral{
		background: white;
		padding: 10px;
		margin-bottom: 20px;

	}

	#postagens{

		width: 650px;
		float:left;
	}

	.postagem{
		padding: 20px;
		margin-bottom: 20px;
		background: white;

	}

	#lateral{
		width: 240px;
		float:right;
	}

	#rodape{
		clear: both;
		text-align: center;
		padding: 15px;
		background: #ccc;
	}
/*Formatações menu*/

	a{
		text-decoration: none; 
	}

	#cabecalho a:link, #cabecalho a:visited{
		color:#FFF;
		padding: 8px 12px;
	}

	#cabecalho a:hover{
		color:#f7b600;
		background: #FFF;
		text-decoration: none;

	}

	a:link, a:visited{
		color:#f7b700;
	}

	a:hover{
		text-decoration: underline;

	}

/*formatações gerais*/

	h1{

		color: #4e4e4e;
		font-size: 2.5em;
	}

	h2{

		color:#f7b600;
	}
	h3{

		color:#565656;
		background: #ccc;
		padding: 5px;
	}

	.branco{
		color: white;
	}

	.data{

		font-size: 0.8em;
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
		margin-bottom: 10px;
		display: block;
	}

	.texto-lateral{
		font-size: 0.8em;
		padding: 5px;

	}